.message-box 
{
  width: 300px;
	height: 20px;
	border: 2px solid #000;
	margin-bottom: 10px;
	padding: 5px;
    background: no-repeat left;
}

.information
{
    background-color: #BDE5F8;
    color :#00529B;
    border-color: #00529B;
    background-image: url(images/info.png);
}

.success
{
    background-color: #DFF2BF;
    color :#4f8a10;
    border-color: #4F8A10;
    background-image:url(images/success.png); 
}
.warning
{
    background-color: #FEEFB3;
    color :#9f6000;
    border-color: #9F6000;
    background-image: url(images/warning.png);
}

.error
{
    background-color: #FFBABA;
    color :#d8000c;
    border-color: #D8000C;
    background-image: url(images/error.png);
    
}